# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Protect log.txt
<Files ./uploads/sprint-analysis.log>
Order Allow,Deny
Deny from all
</Files>

# Disable directory browsing
Options All -Indexes
